#popupAddPalavra {
    backdrop-filter: blur( 3px );
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    display: flex;
    display: none;
    flex-direction: column;
    height: 60%;
    left: 50%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur( 3px );
    width: 90%;
}

#popupAddPalavra div {
    margin: auto 0;
}

#popupAddPalavra div input {
    border: 2px solid darkgray;
    border-radius: 10px;
    height: 25px;
    margin: 5px 0;
    width: 90%;
}

#popupAddPalavra div img{
    width: 40%;
}
#popupAddPalavra p {
    font-size: 20px;
    font-weight: bold;
}

#popupAddPalavra button {
    border: 2px solid darkgray;
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px;
}

@media screen and (min-width: 768px) {
    #popupAddPalavra {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    #popupAddPalavra {
        width: 25%;
    } 
}