body {
    font-family: 'Indie Flower', cursive;
    background: url(img/fundo.jpg);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    padding: 5px 0;
    /*background: purple;*/
}

.logo {
    padding-left: 2%;
    height: 35px;
}

.sessao-forca {
    width: 100%;
    height: 100%;
    /*background: blue;*/
    box-sizing: border-box;
}

.forca {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#imagem-forca {
    width: 35%;
}

.palavra-jogo {
    /*background: red;*/
    text-align: center;
    height: 40px;
}

.palavra-jogo p {
    font-size: 2em;
}

.teclado {
    /*background: burlywood;*/
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.teclado button {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin: 2px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.teclado button:hover {
    font-weight: bold;
    cursor: pointer;
}

.botoes {
     /*background: brown;*/
    text-align: center;
}

.botoes button {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.botoes button:hover {
    font-weight: bold;
    cursor: pointer;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    /* background: green;*/
}

.rodape p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #495057;
    font-size: 10px;
    padding: 5px 5px;
}

.rodape a {
    padding: 10px 0;
}

.rodape a img {
    height: 15px;
    padding: 2px 0;
}

@media screen and (max-width: 780px) {
    #imagem-forca {
        width: 50%;
        margin-bottom: 10px;
    }

    .teclado {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #imagem-forca {
        width: 65%;
        margin-bottom: 10px;
    }

    .teclado {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    #imagem-forca {
        width: 100%;
        margin-bottom: 10px;
    }

    .palavra-jogo {
        height: 20px;
    }

    .palavra-jogo p {
        font-size: 20px;
    }

    .sessao-teclado {
        width: 100%;
    }

    .teclado {
        width: 100%;
    }

    .teclado button {
        font-size: 10px;
        padding: 5px 8px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }
    .botoes button {
        font-size: 10px;
        margin: 5px 20px;
    }

    .rodape {
        flex-direction: column;
    }

    .rodape p {
        padding: 2px 0;
    }

    .imagem-rodape {
        text-align: center;
        padding: 0;
        margin: 3px 0;
    }
}

@media screen and (max-width: 200px) {
    #imagem-forca {
        width: 70%;
        margin-bottom: 10px;
    }

    .palavra-jogo {
        height: 20px;
    }

    .palavra-jogo p {
        font-size: 10px;
    }

    .sessao-teclado {
        padding: 0 3px;
    }

    .teclado {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .teclado-linha1, .teclado-linha2 {
        width: 100%;
    }

    .teclado button {
        font-size: 8px;
        padding: 3px 5px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }
    .botoes button {
        font-size: 8px;
        margin: 5px 20px;
    }

    .rodape {
        flex-direction: column;
    }

    .rodape p {
        padding: 2px 0;
    }

    .imagem-rodape {
        text-align: center;
        padding: 0;
        margin: 3px 0;
    }
}